@import '@/styles/abstracts/variables.scss';

.wrapper {
  width: 82px;
  .btn {
    font-weight: $fw-bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-image: url('../../../../public/filter/filter-reset.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 59px 0 0;
  }
}

@media screen and (max-width: 1399px) {
  .wrapper {
    display: flex;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .wrapper {
    display: flex;
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    display: flex;
    margin-top: 15px;
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    display: flex;
    margin-top: 15px;
  }
}

@media screen and (max-width: 319px) {
  .wrapper {
    display: flex;
    margin-top: 15px;
  }
}
