// Colors

$c-primary: #2b8580;
$c-secondary: #a5dedb;
$c-main-background:#232323;
$c-background-element: #e5e5e5;
$c-subtitle: #888888;
$c-h3: #303030;
$c-date:#ABABAB;

// Font sizes

$fs-subtitle: 16px;
$fs-h3: 18px;

// Font weights

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Breakpoints
