@import '@/styles/abstracts/variables.scss';

.wrapper {
  margin: 0 auto;
  width: 1315px;
  padding: 35px 60px 58px 60px;
  background: #303030;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  min-height: 937px;
}
