@import '@/styles/abstracts/variables.scss';

.wrapper {
  margin-top: 24px;
  display: flex;
  .tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 64px;
  }
  .reset {
    width: 82px;
  }
}
