@import '@/styles/abstracts/variables.scss';

.tab {
  border: 1px solid #ffffff;
  border-radius: 0;
  padding: 11px 10px;
  font-weight: $fw-bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
  margin-right: 16px;
  cursor: pointer;
}

.tab:hover {
  border: 1px solid #ffffff;
}

.active {
  color: #000000;
  background-color: #ffffff;
  // margin: 0 16px 8px 0 !important;
}

.active:hover {
  background-color: #ffffff;
}
