@import '@/styles/abstracts/variables.scss';

.wrapper {
  background-color: $c-main-background;
  background-image: url('/main-bg/waves-bg.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}